<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类管理</title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/me.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal  header item">后台管理</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i> 博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i> 标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                        wz
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="male">注销</div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class=" sidebar icon"></i>
    </a>
</nav>

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/addView}" class="active item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-tiny-top-30">
    <div class="ui container">
        <form action="#" method="post" th:action="@{/admin/types/add}" th:object="${type}" class="ui form">
            <!--首页图-->
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                    <input type="hidden" name="id" th:value="${type.id}">
                </div>
            </div>
            <!--提示信息-->
            <div class="ui error message"></div>


            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">提示信息：</div>
                <p th:errors="*{name}"></p>
            </div>
           /*/-->
            <!--按钮-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">提交</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>

<script type="text/javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // 验证
    $('.ui.form').form({
        fields: {
            title:{
                identifier:'name',
                rules:[{
                    type: 'empty',
                    prompt: '请输入分类名称'
                }]
            }
        }
    });
</script>
</body>
</html>